<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
	
	 
	<!-- 数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"  value="com.mysql.jdbc.Driver" />    
		<property name="url"  value="jdbc:mysql://localhost:3306/springdemo" />
		<property name="username"  value="root" />
		<property name="password"  value="admin" />  
	</bean>
	
	
	
	
	
	<!-- 这个对象有一个需要传dataSource的构造方法 (set也可以注入进来,但是源码里没看到有setDataSource(); ) 
		scope 要设置为 bean默认的scope是singleton
	-->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate" scope="prototype">
		<property name="dataSource"  ref="dataSource"></property>
	</bean>
	
	
	
	
	
	<!-- 声明事务 -->
	<bean id="transactionManager"  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<constructor-arg ref="dataSource"></constructor-arg>
	</bean>
	<!-- 配置事务传播特性   (什么方法按什么规则执行事务) -->
 	<tx:advice id="txAdvice"  transaction-manager="transactionManager">
 		<tx:attributes>
			<tx:method name="get*" read-only="true"/>  
			<tx:method name="*"/>  
 		</tx:attributes>
 	</tx:advice>
 	<!-- 配置事务切面 (哪些类执行)-->  
 	<aop:config>
 		<aop:pointcut id="serviceTrans"  expression="execution(* com.ek.spring.ch3.model2.service.UserInfoServiceImpl.*(..))"/>
 		<aop:advisor advice-ref="txAdvice"  pointcut-ref="serviceTrans"/>
 	</aop:config>
	
	
	
	
	
	<bean id="userInfoDAO" class="com.ek.spring.ch3.model2.dao.UserInfoDAO">
		<property name="myJdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
	

 
  	<bean id="userInfoServiceImpl" class="com.ek.spring.ch3.model2.service.UserInfoServiceImpl">
 		<property name="myUserInfoDAO" ref="userInfoDAO"></property>
 	</bean>
 	
 	
 	
 
 	
 	
</beans>
